.intro {
    height:855px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: url('../images/intro.jpg') no-repeat fixed;
    /* Note: Image from Reference.com 2017 */
    background-size: cover;
}
.intro-message {
    text-align: center;
    position: relative;
    padding-top: 20%;
    padding-bottom: 50px;
}
.intro-message > h1 {
    margin-top: -50px;
    text-shadow: 2px 1px 2px #000;
    font-size: 5em;
    color: rgba(255, 255, 255, 0.4);
}
.intro-divider {
    width: 600px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

#about {
    margin-left: 10%;
}