footer
  div#left Coded by Qiang Sun and Xue Yu
  div#right Copyright&copy;Sports Partner | TIME: <span id="time"></span>&nbsp| Last Modified at <span id="lastmodified"></span>
  include footer.js
style(type='text/css').
    #left {
            float:left
            }
    #right{
            float:right
          }
