extends layout
block link
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  div.intro#home
    div.intro-message
      h1 SportsPartner
      h2 Find the best SportsPartner for your health
      hr.intro-divider
