extends layout
block link
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  div.intro#home
    div.intro-message
      h1 SportsPartner #{name}
      if(username)
        h2 Welcome #{username} !
      else if (user)
        h2(style="color:white") Welcome #{user.username} !
      hr.intro-divider
      h2(style="color:white") Find the best SportsPartner for your health
