doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/general.css')
    block link
  body
    div
    nav
      div
        ul
          li#left
            a(href="/") Sports Partner
          li
            a(href="/logout") logout
          li
            a(href="/register") Register
          li
            a(href="/login") login

    block content
    include footer
