doctype html
html
  head
    title Sport Partner
    link(rel='stylesheet', href='/stylesheets/general.css')
    block link
  body
    div
    nav
      div
        ul
          li#left
            a(href="/") Sports Partner

          if (user)
            li
              a(href="/logout") logout
            li
              a(href='/users') #{user.username} 

          else
            li
              a(href="/login") login
            li
              a(href="/register") Register

    block content
    include footer
