doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/general.css')
    block link
  body
    div 
    nav 
      div 
        ul 
          li#left
            a(href="#home") Sports Partner
          li 
            a(href="/register",target="_blank") Register
          li 
            a(href="/login",target="_blank") login
    block content
    include footer

