extends layout
block link
  link(rel='stylesheet', href='/stylesheets/login.css')
  link(rel='stylesheet', href='/stylesheets/index.css')
block content
  div.intro#home
    div.login
      form(action="/login",method="POST")
        fieldset
          legend Login to your Sport Partner account
          br
          p Email:

          input(type="email",name="email",placeholder="#{email}" required)
          p Password:

          input(type="password",name = "password", value = "#{password}" required)
          br
          input(type="submit",value="Submit")
          input(type="reset", value="Reset")
          br
