extends layout
block link
  link(rel='stylesheet', href='/stylesheets/login.css')
  link(rel='stylesheet', href='/stylesheets/index.css')
block content

  div.intro#home
    div.login
      form(action="/login",method="POST")
        fieldset
          legend Login to your Sport Partner account
          br
          p Email:
          if(username)
            input(type="email",name="username",value="#{username}" required)
          else
            input(type="email",name="username",placeholder="Input your email" required)
          p Password:
          if(password)
            input(type="password",name = "password", value = "#{password}" required)
          else
            input(type="password",name = "password", placeholder="Input your password" required)
          br
          input(type="submit",value="Submit")
          input(type="reset", value="Reset")
          br
