extends layout
block link
  link(rel='stylesheet', href='/stylesheets/login.css')
  link(rel='stylesheet', href='/stylesheets/index.css')
block content
  div.intro#home
    div.login
      form(name="register",method ='POST',action='/register')
        fieldset
          legend Register your Sport Partner account
          br
          p Email:
          - var email = "sunqiang93@163.com"
          input(type="email",name="username",value="#{email}" required)
          p Password:
          - var password = "sunQIANG9337"
          input(type="password",name = "password",value = "#{password}" required)

          <br>
          input(type="submit",value="Submit")
          input(type="reset", value="Reset")
          br
