extends layout
block link
  link(rel='stylesheet', href='/stylesheets/login.css')
  link(rel='stylesheet', href='/stylesheets/index.css')
block content

  div.intro#home
    div.login
      form(action="/login",method="POST")
        fieldset
          legend  Functions
          br
          p 
            a(href="/reset") Reset Password
          p 
            a(href="/users/profile") See Profile
          p 
            a(href="/users/prefer") See Preference 
          p
            a(href="/view") View Friends
